.viewport-container-work{
    width: 100rem;
    height: 93%;
  }

  .main-header-work{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.2rem;
    width: 100%;
    background-color: blue;
  }

  .main-work-container{
    width: 100%;
    height: 100%;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .main-footer-work{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.2rem;
    width: 100%;
  }

  .toggle-card-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .number-title {
    font-size: 232px;
    font-weight: lighter;
  }

  .titles-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* margin-top: 55px; */
  }

  .title-work-thirdJob{
    font-size: 115px;
    font-weight: bold;
    color:#403C3C;
    line-height: 9.2rem;
  }

  .subtitle-work{
    font-size: 30px;
    font-weight: lighter;
    color:#403C3C;
    line-height: 1.3rem;
  }
  
  .toggle-button-card-third-job{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toggle-button-figure{
    width: 100px; 
    height: 100px; 
    font-size: 60px;
    color: #6E4B4B;
    border: 5px solid #6E4B4B;
    border-radius: 50%;
  }

  .toggle-thirdjob-card-2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .toggle-thirdJob-card-3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    transition: flex 0.3s ease-in-out;
  }

  .line {
    width: 100%;
    height: 5px;
    background-color: rgb(64, 60, 60);
  }

  .expertise-section-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }

  .expertise-section-description-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .toggle-number-card-third-job{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#403C3C
  }

  .toggle-title-card-third-job{
    width: 70%;
    height: 100%;
    display: flex;
    }


  .toggle-years-thirdJob-card{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#403C3C;
  }

  .toggle-description-thirdJob-card {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#403C3C;
  }

  .number-year-thirdJob-card {
    font-size: 180px;
    font-weight: bold;
  }

  .text-year-thirdjob-card {
    font-size: 24px;
  }

  .title-description-text {
    margin-left: 2%;
  }

  .job-title {
    font-size: 18px;
    line-height: 2.5;
    font-weight: bold;
  }

  .description-job {
    margin-left: 2%;
    margin-right: 10%;
  }

  .title-expertise-section {
    font-size: 36px;
    font-weight: bold;
    margin-left: 2%;
    color:#403C3C;
  }