.viewport-container-work{
    width: 100rem;
    height: 100%;
  }

  .main-header-work{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.2rem;
    width: 100%;
    background-color: blue;
  }

  .main-work-container{
    width: 100%;
    height: 100%;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .main-footer-work{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.2rem;
    width: 100%;
    background-color: violet;
  }

  .toggle-card-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .toggle-number-card{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#403C3C;
  }

  .number-title {
    font-size: 232px;
    font-weight: lighter;
  }

  .toggle-title-card{
    width: 75%;
    height: 100%;
    display: flex;
    margin-left: 2%;
  }

  .titles-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .title-work{
    font-size: 130px;
    font-weight: bold;
    color:#403C3C;
    line-height: 8.2rem;
  }

  .subtitle-work{
    font-size: 30px;
    font-weight: lighter;
    color:#403C3C;
    line-height: 1.3rem;
  }
  
  .toggle-button-card{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toggle-button-figure{
    width: 100px; 
    height: 100px; 
    font-size: 60px;
    color: #6E4B4B;
    border: 5px solid #6E4B4B;
    border-radius: 50%;
  }

  .toggle-card-2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
  }



  .toggle-card-3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    transition: flex 0.3s ease-in-out;
  }

  .line {
    width: 100%;
    height: 5px;
    background-color: rgb(64, 60, 60);
  }