.bothBlocks{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh; /* Establece el alto al 100% del viewport */
}

.block-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    font-size: 60px;
    font-weight: bold;
    font-stretch: expanded; 
}

.block-left p:nth-child(2) {
    font-size: 32px;
    font-weight: bold;
}

.block-right{
    background-color: #e0e0e0;
}