.container-craft{
    width: 100%;
    height: 100%;
    background-color: #FCF7E8;
    display:flex;
    justify-content: center;
}

.viewport-container-craft{
    width: 100rem;
    height: 93%;
  }

  .main-header-craft{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.2rem;
    width: 100%;
  }

  .color-text{
    font-size:30px;
    color: black
  }

  .main-craft-container{
    width: 100%;
    height: 100%;
    border-radius: 22px;
  }

  .main-craft-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
/*    
  .circle-background {
    width: 850px;
    height: 850px;
    background-color: #6E4B4B;
    border-radius: 50%;
    box-shadow: 1px 35px 26px rgba(0, 0, 0, 0.3);
   } */

   .top-section-craft{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
  }
  .title-number-1 {
    width: 35%;
    height: 100%;
    font-size: 150px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#403C3C;
    vertical-align: text-bottom;
    margin-top: 72px
  }

  .title-number-2 {
    width: 65%;
    height: 100%;
    font-size: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#403C3C;
  }

  .face-section-container{
    width: 78%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .main-section-face-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .description-1 {
    width: 22%;
    height: 100%;
  }

  .principal-title {
    font-size: 65px;
    color:#403C3C;
  }

  .second-titles {
    font-size: 45px;
    color:#403C3C;
  }

  .second-titles-descriptions {
    font-size: 35px;
    font-weight: lighter;
    list-style-type: none;
    padding: 0;
    margin-left: 30px;
    color:#403C3C;
  }

.button-about  {
  color:#403C3C;
  font-weight: lighter;
  font-size: 125px;
}

.link-architect {
  display: flex;
}

.third-titles-descriptions {
  list-style-type: none;
  padding: 0;
  margin-left: 30px;
}

.third-titles-descriptions li::before {
  content: "-";
  margin-right: 8px;
}

 :root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  
  --fw-normal: 400;
  --fw-bold: 700;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

.card {
  width: 400px;
}

.card-circle-background {
    width: 850px;
    height: 1040px;
    background-color: #FCF7E8;
    text-align: center;
    position: relative;
    padding: 15em 5em;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.face-section-container .is-flipped {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/fair.jpg);*/
  width: 850px;
  height: 850px;
  background-size: cover;
  background-blend-mode: overlay;
  color: #333;
  background-color: #6E4B4B;
  box-shadow: 1px 35px 26px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.handleFace {
  width: 800px;
  height:900px;
  margin-top: 28vh;
  transform: scaleX(-1);
  transform: var(--level-three);
  text-transform: uppercase;
  margin-left: 10px;
}

.handleFaceArc {
  width: 800px;
  height:950px;
  margin-top: 21vh;
  transform: var(--level-three);
  text-transform: uppercase;
}

.card__back {
  /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/fair.jpg);*/
  width: 850px;
  height: 850px;
  background-size: cover;
  background-blend-mode: overlay;
  color: #333;
  background-color: #6E4B4B;
  box-shadow: 1px 35px 26px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: rotateY(.5turn);
}

