.viewport-container-work{
    width: 100rem;
    height: 100%;
  }

  .main-header-work{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.2rem;
    width: 100%;
  }

  .main-work-container{
    width: 100%;
    height: 100%;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .main-footer-work{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.2rem;
    width: 100%;
  }

  .toggle-card-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .number-title {
    font-size: 232px;
    font-weight: lighter;
  }

  .titles-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* margin-top: 55px; */
  }

  .title-work-firstJob{
    font-size: 115px;
    font-weight: bold;
    color:#403C3C;
    line-height: 9.2rem;
  }

  .subtitle-work{
    font-size: 30px;
    font-weight: lighter;
    color:#403C3C;
    line-height: 1.3rem;
  }
  
  .toggle-button-card-first-job{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toggle-button-figure{
    width: 100px; 
    height: 100px; 
    font-size: 60px;
    color: #6E4B4B;
    border: 5px solid #6E4B4B;
    border-radius: 50%;
  }

  .toggle-firstjob-card-2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; 
  }

  .toggle-firstJob-card-3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    transition: flex 0.3s ease-in-out;
  }

  .line {
    width: 100%;
    height: 5px;
    background-color: rgb(64, 60, 60);
  }

  .expertise-section-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }

  .expertise-section-description-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
   }

  .toggle-number-card-first-job{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#403C3C
  }

  .toggle-image-card-first-job {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#403C3C
  }

  .toggle-title-card-first-job{
    width: 70%;
    height: 100%;
    display: flex;
    }


  .toggle-years-firstJob-card{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#403C3C;
  }

  .toggle-description-firstJob-card {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#403C3C;
  }

  .number-year-firstJob-card {
    font-size: 180px;
    font-weight: bold;
  }

  .text-year-firstjob-card {
    font-size: 24px;
  }

  .title-description-text {
    margin-left: 2%;
  }

  .job-title {
    font-size: 18px;
    line-height: 2.5;
    font-weight: bold;
  }

  .description-job {
    margin-left: 2%;
    margin-right: 10%;
  }

  .title-expertise-section {
    font-size: 36px;
    font-weight: bold;
    margin-left: 2%;
    color:#403C3C;
  }

  .wrapper-first-job {
    width: 90%;
    height: 115px;
    max-width: 1440px;
    list-style-type: none;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }

  .item-first-job {
    width: 100px;
    height: 115px;
    position: absolute;
    left: max(calc(100px * 15), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item-first-job1 {
  animation-delay: calc(30s / 15 * (15 - 1) * -1);
}
.item-first-job2 {
  animation-delay: calc(30s / 15 * (15 - 2) * -1);
}
.item-first-job3 {
  animation-delay: calc(30s / 15 * (15 - 3) * -1);
}
.item-first-job4 {
  animation-delay: calc(30s / 15 * (15 - 4) * -1);
}
.item-first-job5 {
  animation-delay: calc(30s / 15 * (15 - 5) * -1);
}
.item-first-job6 {
  animation-delay: calc(30s / 15 * (15 - 6) * -1);
}
.item-first-job7 {
  animation-delay: calc(30s / 15 * (15 - 7) * -1);
}
.item-first-job8 {
  animation-delay: calc(30s / 15 * (15 - 8) * -1);
}
.item-first-job9 {
  animation-delay: calc(30s / 15 * (15 - 9) * -1);
}
.item-first-job10 {
  animation-delay: calc(30s / 15 * (15 - 10) * -1);
}
.item-first-job11 {
  animation-delay: calc(30s / 15 * (15 - 11) * -1);
}
.item-first-job12 {
  animation-delay: calc(30s / 15 * (15 - 12) * -1);
}
.item-first-job13 {
  animation-delay: calc(30s / 15 * (15 - 13) * -1);
}
.item-first-job14 {
  animation-delay: calc(30s / 15 * (15 - 14) * -1);
}
.item-first-job15{
  animation-delay: calc(30s / 15 * (15 - 15) * -1);
}
